.ipynb_checkpoints/
*.html
fibo.py
__pycache__/fibo.cpython-36.pyc
workfile.txt
workfile.json
circle.png
demo.py
today/backup.db
today/data.db
test.out
orange.csv
dgemm.cpython-36m-darwin.so
dgemm.c
mydgemm.o
build

cython_f_example.pyx

cython_f_example.c

cython_f_example.cpython-36m-darwin.so

cython_omp_example.c

cython_omp_example.cpython-36m-darwin.so

cython_omp_example.pyx

cython_omp.c

cython_omp.cpython-36m-darwin.so

cython_omp.pyx

setup.py

a.out

integral_f_c.c

examples/
