autopep8
beautifulsoup4
cloudpickle
cython
dask
dataclasses
fortran-magic
graphviz
h5py
ipywidgets
joblib
jupyter
lorem 
lxml
matplotlib
memory_profiler
numba
numpy
pandas
pytables
python-graphviz
pytest
pythran
r
r-nloptr
rpy2
rpy2
scipy
seaborn
sympy
toolz
tzlocal
xlwt
