lorem 
autopep8
joblib
matplotlib
scipy
numpy
pandas
seaborn
dataclasses
sympy
dask
tzlocal
rpy2
xlwt
tables
toolz
cloudpickle
graphviz
cython
memory_profiler
fortran-magic
numba
ipywidgets
h5py
lxml
beautifulsoup4
pythran
